configure
Makefile
/TAGS
/config.log
/config.status
/decoy_config.h
/esl_config.h
/libeasel.a
/autom4te.cache
/build-*/
*.o
*.dSYM
easel_utest
easel_example
esl_*_utest
esl_*_example
esl_*_example?
esl_*_benchmark
esl_*_experiment
miniapps/*.man
miniapps/easel
miniapps/esl-afetch
miniapps/esl-alimanip
miniapps/esl-alimap
miniapps/esl-alimask
miniapps/esl-alimerge
miniapps/esl-alipid
miniapps/esl-alirev
miniapps/esl-alistat
miniapps/esl-compalign
miniapps/esl-compstruct
miniapps/esl-construct
miniapps/esl-histplot
miniapps/esl-mask
miniapps/esl-mixdchlet
miniapps/esl-reformat
miniapps/esl-selectn
miniapps/esl-seqrange
miniapps/esl-seqstat
miniapps/esl-sfetch
miniapps/esl-shuffle
miniapps/esl-ssdraw
miniapps/esl-translate
miniapps/esl-weight
