configure
Makefile
/TAGS
/config.log
/config.status
/decoy_config.h
/esl_config.h
/libeasel.a
/autom4te.cache
/build-*/
*.o
*.dSYM
easel_utest
easel_example
esl_*_utest
esl_*_example
esl_*_example?
esl_*_benchmark
esl_*_experiment
miniapps/*.man
miniapps/easel
